body{
	background-color: #323232;
	margin:0;
}	
#navbar{
	box-shadow: 0 3px 8px #222;
}
#navbar ul{
	z-index: 5;
	opacity: 1;
	display: block;
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #656565;
	border:#656565;
	position: sticky;
	top: 0;
	width: 100%
	
}
#navBar ul li{
	float: left;
}
#navBar ul li a{
	display: block;
	padding: 14px;
	color: #cfcfcf;
	font-family: arial;
	text-decoration: none;
	background-color: #656565;
}
#navBar ul li a.home{
	background-color: #999999;
	color: black;
}
#navbar ul li a:hover{
	background-color: #CCA421;
	color: #252525;
}
#banner{
	height: 70%;
	width: 100%;
	overflow: hidden;
}
#banner img{
	height: 100%;
}
p{
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	color: #cfcfcf;
}
#entries{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 125%;
	margin-top: 1.5%;
}
.entry{
	width: 24%;
	height: 48%;
	border: 1px solid #cfcfcf;
	box-shadow: 0 0 10px #111;
	overflow: hidden;
	background-color: #424242;
}
.entry img{
	display: block;
	width: 100%;
}
.entry h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	background-color: #CCA421;
	color: #252525;
	margin: 0;
	padding: 8px;
	box-shadow: 0 2px 5px #222;
}
.entry p{
	padding: 5px;
	padding-top: 0;
	font-size: 18px;
}
