body{
	background-color: #323232;
	margin:0;
}	
#navbar{
	z-index: 5;
	opacity: 1;
	display: block;
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #656565;
	border:#656565;
	position: sticky;
	top: 0;
	width: 100%
	
}
#navBar li{
	float: left;
}
#navBar li a{
	display: block;
	padding: 14px;
	color: #cfcfcf;
	font-family: arial;
	text-decoration: none;
	background-color: #656565;
}
#navBar li a.home{
	background-color: #999999;
	color: black;
}
#navbar li a:hover{
	background-color: #CCA421;
	color: black;
}
#banner{
	height: 70%;
	width: 100%;
	overflow: hidden;
}
#banner img{
	height: 100%;
}
p{
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	color: #cfcfcf;
}
#rickRollMsg{
	font-family: Arial, Helvetica, sans-serif;
	color: #cfcfcf;
	text-align: center;
}
#rickRollPlr{
	width: 100%;
}